@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

main > .main-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Cookie", cursive;
  font-weight: 300;
  margin: 5rem 0 2rem;
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .boy {
      animation-delay: 0.5s;
    }

    .girl {
      animation-delay: 1s;
    }

.main-title > .boy {
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
  margin-right: 10rem;
}

.main-title > .girl {
  font-family: "Great Vibes", cursive;
  margin-left: 10rem;
  font-size: 4rem;
}



.home-imgs {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

/* @media screen and (max-width: 431px) {
  .home-imgs {
  gap: 8px;
  width: 95%;
}

.home-imgs > .img:nth-child(2){
  width: 60rem;
}
} */


.home-imgs > .img:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}  

.img {
  border-radius: 5px;
  overflow: hidden;
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.play-btn {
  position: relative; /* Ensure proper positioning context */
  width: 80px; /* Button width */
  height: 80px; /* Button height */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotateText 10s linear infinite;
  -webkit-tap-highlight-color: transparent;
}

.play-btn img {
  width: 100%; /* Ensure the image fits the button size */
  height: auto;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tabrik {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.first-p {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  color: goldenrod;
}

.second-p {
  font-size: 1rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  color: goldenrod;

}

.third-p{
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
    font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.tabrik > h4 {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  color: darkred;
  font-weight: 300;
  font-style: italic;
}

.couple-logo {
  margin: 0 auto;
  width: 100%;
  height: 300px;
}

.toy {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.toy > h2 {
  font-weight: 300;
}

.toy > p {
  font-weight: 200;
  font-style: italic;
  font-size: 2rem;
  color: burlywood;
}

.countdown-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.countdown-title {
  display: flex;
  align-items: end;
  position: absolute;
  bottom: 30%;
  color: #151414;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Lora", serif;
}

.countdown {
  display: flex;
  align-items: self-start;
  font-size: 2rem;
  position: absolute;
  bottom: 15%;
  left: 50%;
  color: #484848;
  transform: translate(-50%, -50%);
  font-family: "Lora", serif;
}

.time-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.time-section p {
  margin: 5px 0 0 0;
  font-size: 1rem;
  font-weight: bold;
}

span {
  font-size: 2.5rem;
}

.underline {
  width: 80%;
  margin: 0 auto;
}

.adres {
  text-align: center;
  width: 90%;
  margin: 0 auto;
    font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.adres > h3 {
  font-style: italic;
  color: burlywood;
  font-size: 1.5rem;
}

.adres-text{
  font-size: 1.2rem;
}

.map-icon {
  width: 200px;
  margin: 0 auto;
  aspect-ratio: 1;
  margin-top: -2rem;
}

.map {
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius:5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

/* Form */
.form{
  text-align: center;
  padding: 3rem;
  margin: 1rem auto;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(245, 239, 241);
}

.form > h2{
  color: darkred;
  font-size: 2rem;
}

.form  .form-subtitle{
   font-size: 1.5rem;
  margin: 1rem 0;
}

.form .input-title{
  font-size: 1.5rem;
text-align: left;
margin: 0;
margin-top: 2rem;
}
.name{
  text-align: left;
  width: 100%;
}


.name > input{
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #4E3E31;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.form .presense{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.presense > .radio-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
}

.radio-btn > label{
  text-align: left;
   font-size: 1.5rem;

}

.submit-btn{
  outline: none;
  border: none;
  background-color: #4E3E31;
  padding: 1rem 2rem;
  margin-top: 2rem;
   font-family: "Cormorant Garamond", serif;
   font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

/* Form/ */

.logo2 {
  margin: 0 auto;
  width: 30rem;
  aspect-ratio: 1;
  margin: 4rem auto;
}


@media screen and (max-width: 431px) {
.logo2 {
  width: 90%;
  aspect-ratio: 1;
  margin: 3rem auto;
}

}

.endnote {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  color: burlywood;
  font-family: "Great Vibes", cursive;
}
